.main {
  width: 400px;
  border-style: solid;
  border-color: cornsilk;
}
.box { width: 100px;
  height: 100px;
  background-color: darkred;
  
}

.ibox {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 5px solid coral;
  box-sizing: border-box;
}
#box1 {
  
}
#box2 {
  padding-left: 100px;
  
}
#box3 {
  padding-left: 200px;

}

#box4 {
  padding-left: 300px;
 
}
